*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


pre{
    white-space: pre-wrap;
}

#chat-item .menu-icon{
    visibility: hidden;
}

#chat-item:hover .menu-icon,
#chat-item.active .menu-icon {
  visibility: visible;
}


#question-div .copy-buttons{
visibility: hidden;
}

#upload-file-display .close-icon{
    visibility: hidden;
}
#upload-file-display:hover .close-icon{
    visibility: visible;
}


#question-div:hover .copy-buttons{
    visibility: visible;
    }


    #answer-div .controls ,.time-text{
        visibility: hidden;
    }
    
    #answerBlock:last-child .controls{
        visibility: visible;
    }

#answer-div:hover .controls ,.time-text{
    visibility: visible;
    }

::-webkit-scrollbar {
    /* width: 4px; */
    display: none;
  
  }
  
  /* Styling the scrollbar track */
  ::-webkit-scrollbar-track {
    background: #CACACA;
  
  }
  
  /* Styling the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: #F2870D;
    border-radius: 3.811px;
    
  }